.container__signin {
  position: relative;
  background: #fff;
  padding: 20px;
  color: #000;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.container__signin_form {
  margin-top: 20px;
}

@media screen and (max-width: 750px) {
  .container__signin {
    width: 100%;
  }
}

.container__signin .info__register {
  font-size: 14px;
  margin-top: 10px;
}

.container__signin .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.25);
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  z-index: 1024;
}
