.container__signin {
  position: relative;
  background: #fff;
  padding: 20px 0;
  color: #000;
  margin: 0 auto;
}

.container__signin_form .form-group {
  margin: 20px 0;
}

@media screen and (max-width: 750px) {
  .container__signin {
    width: 100%;
  }
}

.container__signin .info__register {
  font-size: 14px;
  margin-top: 10px;
}

.container__signin .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .75);
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  z-index: 1024;
}

.container__signin h1 {
  font-weight: 300;
  border-top: 3px solid #1B3954;
  margin: -20px -15px;
  padding: 25px 15px;
  color: #1B3954;
}
