.category--sidebar {
  width: 230px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
}

.category--sidebar h3 {
  display: block;
  background: #1B3954;
  padding: 20px 15px;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px 0;
}

.category--sidebar .item:first-child h3 {
  margin-top: 0;
}

.category--sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category--sidebar ul li {
  padding: 0;
  margin: 0;
}

.category--sidebar ul li a {
  color: #000;
  padding: 8px 5px;
  display: block;
}

.category--sidebar ul li a.current {
  text-decoration: underline;
  font-weight: 600;
}
