.container__register {
  position: relative;
  background: #fff;
  padding: 20px 10px;
  color: #000;
  margin: 20px auto;
}

.container__register .form-group {
  margin: 20px 0;
}

@media screen and (max-width: 750px) {
  .container__register {
    width: 100%;
  }
}

.container__register .info__register {
  font-size: 14px;
  margin-top: 20px;
}

.container__register .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .75);
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  z-index: 1024;
}

.container__register h1 {
  font-weight: 400;
  font-size: 32px;
  color: #1B3954;
  margin-bottom: 15px;
}
