.top--search-navbar {
  position: relative;
  height: 75px;
  padding: 30px 0;
}

.top--search-navbar form {
  position: absolute;
  top: 20px;
  right: 0;
}

@media screen and (max-width: 768px) {
  .search-desktop {
    display: none;
  }
}
