.product-container {
}

.product-container .product {
  background: #fff;
  padding: 25px 10px;
  display: inline-block;
  margin-right: 10px;
  color: #000;
  text-align: center;
  width: calc(25% - 10px);
  margin-bottom: 10px;
}

@media screen and (max-width: 990px) {
  .product-container .product {
    width: calc(50% - 10px);
  }
}

.product-container .product h4 {
  margin-bottom: 15px;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.product-container .product img {
  max-width: 100%;
  max-height: 200px;
}

.product-container .product p {
  display: block;
  margin: 10px 0;
  font-style: italic;
}

.product-container .product .btn-secondary {
  margin-top: 10px;
}
