.product-container {
  width: calc(100% - 250px);
  display: inline-block;
  vertical-align: top;
}

.product-container .product {
  background: #fff;
  padding: 15px 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  color: #000;
  text-align: center;
  width: calc(25% - 10px);
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 990px) {
  .product-container .product {
    width: 100%;
  }
}

.product-container .product .price {
  background: #1B3954;
  padding: 10px;
  margin: 10px -10px 10px -10px;
  color: #fff;
  font-weight: 600;
  font-size: 0;
}

.product-container .product .price .your-price {
  text-transform: uppercase;
  padding-right: 10px;
  font-weight: 800;
}

.product-container .product .container-cart {
  font-size: 0;
  margin: -2px -5px -20px -5px;
  height: 50px;
}

.product-container .product .container-cart .quantity {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
}

.product-container .product .container-cart .quantity input {
  height: 40px;
  text-align: center;
  width: 50px;
  color: #000;
  border: 1px solid #666;
  font-size: 12px;
}

.product-container .product .container-cart .button {
  width: calc(100% - 50px);
  height: 40px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  background: #666;
  vertical-align: top;
}

.product-container .product .container-cart .added {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background: #54801a;
  padding: 10px 0;
  color: #fff;
}

.product-container .product .container-cart .button a {
  color: #fff;
  display: block;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
}

.product-container .product .price .your-price,
.product-container .product .price .price-value {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

.product-container .product h4 {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  font-weight: 600;
}

.product-container .product h4 a {
  color: #000;
}

.product-container .product img {
  max-width: 100%;
  max-height: 100px;
  margin: 10px 0;
}

.product-container .product p {
  display: block;
  margin: 0 0 15px 0;
  font-size: 12px;
  color: #666;
}

.product-container .product .btn-secondary {
  margin-top: 10px;
}

.product-container .product--container-heading {
  display: block;
  background: #1B3954;
  padding: 20px 10px;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0px 0 10px 0;
}
