.payment-status svg {
  font-size: 24px;
}

.payment-status .paid {
  color: #54801a;
}

.payment-status .unpaid {
  color: #cc0000;
}

.order--status {
  background: #eee;
  padding: 15px;
  margin-bottom: 20px;
}

.product-cart-item {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.table--items h3 {
  padding: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  border-left: 2px solid #999;
}
